<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xenialsoft.api.test.mapper.TestMapper">

    <resultMap id="result" type="Test">
        <id     property="id" column="id" />
        <result property="password" column="pw" />
        <result property="name" column="name" />
    </resultMap>
    
    <select id="selectListAll" resultMap="result">
        select id
             , pw
             , name
          from admin_user
    </select>
    
    <select id="selectListAll2" resultMap="result">
        select name
          from admin_user
    </select>

</mapper>