<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xenialsoft.api.core.mainbanner.mapper.MainBannerMapper">

    <resultMap id="mainBanner"     type="MainBanner">
        <id     property="id"               column="id" />
        <result property="title"            column="title" />
        <result property="imageId"          column="image_id"/>
        <result property="linkUri"          column="link_uri"/>
        <result property="displayOrder"     column="display_order"/>
        <result property="status"           column="status"/>
        <result property="createdAt"        column="created_at" />
        <result property="createdBy"        column="created_by" />
        <result property="modifiedAt"       column="modified_at" />
        <result property="modifiedBy"       column="modified_by" />
    </resultMap>

    <sql id="conditions">
    	<if test="search.text != null and search.text.trim().length() > 0">
    		and a.title like concat('%', #{search.text}, '%')
    	</if>
    	<if test="search.status != null">
    		and a.status = #{search.status}
    	</if>
        and (a.status is null or a.status != 'DELETED')
    </sql>

	<select id="selectList" resultMap="mainBanner">
		select a.id
			 , a.title
			 , a.image_id
			 , a.link_uri
			 , a.display_order
			 , a.status
			 , a.created_at
			 , u1.nickname      as created_by
			 , a.modified_at
			 , u2.nickname      as modified_by
		from main_banner a
			left join user u1
		    	on u1.id = a.created_by
		    left join user u2
				on u2.id = a.modified_by
        <where>
            <include refid="conditions" />
        </where>
        order by a.display_order, a.created_at
        <if test="!paging.unpaged">
            limit #{paging.limit}
            offset #{paging.offset}
        </if>
	</select>

	<select id="selectTotalCount" resultType="long">
		select count(*) cnt
		from main_banner a
        <where>
            <include refid="conditions" />
        </where>
	</select>

	<select id="selectById" resultMap="mainBanner">
		select a.id
			 , a.title
			 , a.image_id
			 , a.link_uri
			 , a.display_order
			 , a.status
             , a.created_at
             , u1.nickname      as created_by
             , a.modified_at
             , u2.nickname      as modified_by
		from main_banner a
			left join user u1
		    	on u1.id = a.created_by
		    left join user u2
				on u2.id = a.modified_by
		where a.id = #{id} 
	</select>

    <insert id="insert">
        insert into main_banner (
			id
			, title
			, image_id
			, link_uri
			, display_order
			, status
			, created_by
        ) values (
			#{id}
			, #{title}
			, #{imageId}
			, #{linkUri}
			, #{displayOrder}
			, #{status}
			, #{createdBy}
        )
    </insert>
    
    <update id="update">
        update main_banner
        set title = #{title}
            , image_id = #{imageId}
            , link_uri = #{linkUri}
            , display_order = #{displayOrder}
            , modified_by = #{modifiedBy}
        where id = #{id}
    </update>
    
    <update id="reorder">
        update main_banner
        set display_order = #{displayOrder}
            , modified_by = #{modifiedBy}
        where id = #{id}
    </update>
    
    <update id="updateDelete">
        update main_banner
        set status = #{status}
            , modified_by = #{modifiedBy}
        where id = #{id}
    </update>

</mapper>