<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xenialsoft.api.core.user.mapper.UserMapper">

    <resultMap id="user" type="User">
        <id     property="id"           column="id" />
        <result property="username"     column="username" />
        <result property="password"     column="password" />
        <result property="role"         column="role" />
        <result property="status"       column="status" />
        <result property="nickname"     column="nickname" />
        <result property="birthDate"    column="birth_date" />
        <result property="phoneNumber"  column="phone_number" />
        <result property="provider"     column="provider" />
        <result property="providerId"   column="provider_id" />
        <result property="lastLoginAt"  column="last_login_at" />
        <result property="createdAt"    column="created_at" />
        <result property="createdBy"    column="created_by" />
        <result property="modifiedAt"    column="modified_at" />
        <result property="modifiedBy"    column="modified_by" />
    </resultMap>
    
    <sql id="conditions">
        <if test='search.role != null'>
            and a.role = #{search.role}
        </if>
        <if test='search.status != null'>
            and a.status = #{search.status}
        </if>
        and (a.status is null or a.status != 'DELETED')
        <if test='search.provider != null'>
            and a.provider = #{search.provider}
        </if>
        <if test='search.startDate != null'>
            and a.created_at <![CDATA[ >= ]]> #{search.startDate}
        </if>
        <if test='search.endDate != null'>
            and a.created_at <![CDATA[ <= ]]> #{search.endDate}
        </if>
        <if test='search.text != null and search.text.trim().length() > 0'>
            and a.nickname like concat('%', #{search.text}, '%')
        </if>
    </sql>
    
    <select id="selectList" resultMap="user">
        select a.id
             , a.username
             , a.role
             , a.status
             , a.nickname
             , a.birth_date
             , a.phone_number
             , a.last_login_at
             , a.created_at
             , u1.nickname      as created_by
             , a.modified_at
             , u2.nickname      as modified_by
          from user a
     left join user u1
            on u1.id = a.created_by
     left join user u2
            on u2.id = a.modified_by
        <where>
            <include refid="conditions" />
        </where>
      order by a.created_at desc
        <if test='!paging.unpaged'>
            limit #{paging.limit}
           offset #{paging.offset}
        </if>
    </select>
    
    <select id="selectTotalCount">
        select count(*)
          from user a
        <where>
            <include refid="conditions" />
        </where>
    </select>
    
    <select id="selectById" resultMap="user">
        select a.id
             , a.username
             , a.role
             , a.status
             , a.nickname
             , a.birth_date
             , a.phone_number
             , a.provider
             , a.provider_id
             , a.last_login_at
             , a.created_at
             , u1.nickname      as created_by
             , a.modified_at
             , u2.nickname      as modified_by
        from user a
             left join user u1
                    on u1.id = a.created_by
             left join user u2
                    on u2.id = a.modified_by
        where a.id = #{id}
            and (a.status is null or a.status != 'DELETED')
    </select>
    
    <select id="selectByUsername" resultMap="user">
        select a.id
             , a.username
             , a.password
             , a.role
          from user a
        where a.username = #{username}
            and (a.status is null or a.status != 'DELETED')
    </select>
    
    <insert id="insert">
        insert into user (
            id
          , username
          , password
          , role
          , status
          , nickname
          , birth_date
          , phone_number
          , provider
          , provider_id
          , created_by
        ) values (
            #{id}
          , #{username}
          , #{password}
          , #{role}
          , #{status}
          , #{nickname}
          , #{birthDate}
          , #{phoneNumber}
          , #{provider}
          , #{providerId}
          , #{createdBy}
        )
    </insert>
    
    <update id="update">
        update user
        <set>
            <if test='password != null'>
                password = #{password},
            </if>
            <if test='nickname != null'>
                nickname = #{nickname},
            </if>
            <if test='birthDate != null'>
                birth_date = #{birthDate},
            </if>
            <if test='phoneNumber != null'>
                phone_number = #{phoneNumber},
            </if>
            <if test='status != null'>
                status = #{status},
            </if>
            modified_by = #{modifiedBy}
        </set>
         where id = #{id}
    </update>
    
    <update id="deletedUser">
        update user
        set username = #{username},
            password = null,
            nickname = '탈퇴한회원',
            birth_date = null,
            phone_number = '',
            provider = null,
            provider_id = null,
            status = 'DELETED',
            modified_by = #{modifiedBy}
        where id = #{id}
    </update>
    
</mapper>